/* CSS for Notion Posts Start*/
.Notion_P .page-body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, 'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
    box-sizing: border-box;
    -webkit-print-color-adjust: exact;
}

.Notion_P .page-body a,
.Notion_P .page-body a.visited {
    color: inherit;
    text-decoration: underline;
}

.Notion_P .page-body .pdf-relative-link-path {
    font-size: 80%;
    color: #444;
}

.Notion_P .page-body h1,
.Notion_P .page-body h2,
.Notion_P .page-body h3 {
    letter-spacing: -0.01em;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 0;
    padding: 0;
    border: 0;
}

.Notion_P .page-body .page-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.75em;
}

.Notion_P .page-body h1 {
    font-size: 1.875rem;
    margin-top: 1.875rem;
}

.Notion_P .page-body h2 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.Notion_P .page-body h3 {
    font-size: 1.25rem;
    margin-top: 1.25rem;
}

.Notion_P .page-body .source {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 1.5em;
    word-break: break-all;
}

.Notion_P .page-body .callout {
    border-radius: 3px;
    padding: 1rem;
}

.Notion_P .page-body figure {
    margin: 1.25em 0;
    page-break-inside: avoid;
}

.Notion_P .page-body figcaption {
    opacity: 0.5;
    font-size: 85%;
    margin-top: 0.5em;
}

.Notion_P .page-body mark {
    background-color: transparent;
}

.Notion_P .page-body .indented {
    padding-left: 1.5em;
}

.Notion_P .page-body hr {
    background: transparent;
    display: block;
    width: 100%;
    height: 1px;
    visibility: visible;
    border: none;
    border-bottom: 1px solid rgba(55, 53, 47, 0.09);
}

.Notion_P .page-body img {
    max-width: 100%;
}

.Notion_P .page-body .collection-content {
    font-size: 0.875rem;
}

.Notion_P .page-body .column-list {
    display: flex;
    justify-content: space-between;
}

.Notion_P .page-body .column {
    padding: 0 1em;
}

    .Notion_P .page-body .column:first-child {
        padding-left: 0;
    }

    .Notion_P .page-body .column:last-child {
        padding-right: 0;
    }

.Notion_P .page-body .table_of_contents-item {
    display: block;
    font-size: 0.875rem;
    line-height: 1.3;
    padding: 0.125rem;
}

.Notion_P .page-body .table_of_contents-indent-1 {
    margin-left: 1.5rem;
}

.Notion_P .page-body .table_of_contents-indent-2 {
    margin-left: 3rem;
}

.Notion_P .page-body .table_of_contents-indent-3 {
    margin-left: 4.5rem;
}

.Notion_P .page-body .table_of_contents-link {
    text-decoration: none;
    opacity: 0.7;
    border-bottom: 1px solid rgba(55, 53, 47, 0.18);
}

.Notion_P .page-body table,
.Notion_P .page-body th,
.Notion_P .page-body td {
    border: 1px solid rgba(55, 53, 47, 0.09);
    border-collapse: collapse;
}

.Notion_P .page-body table {
    border-left: none;
    border-right: none;
}

.Notion_P .page-body th,
.Notion_P .page-body td {
    font-weight: normal;
    padding: 0.25em 0.5em;
    line-height: 1.5;
    min-height: 1.5em;
    text-align: left;
}

.Notion_P .page-body .code th,
.Notion_P .page-body .code td {
    padding-top: 0;
    padding-bottom: 0;
}

.Notion_P .page-body th {
    color: rgba(55, 53, 47, 0.6);
}

.Notion_P .page-body ol,
.Notion_P .page-body ul {
    margin: 0;
    margin-block-start: 0.6em;
    margin-block-end: 0.6em;
}

.Notion_P .page-body li > ol:first-child,
.Notion_P .page-body li > ul:first-child {
    margin-block-start: 0.6em;
}

.Notion_P .page-body ul > li {
    list-style: disc;
}

.Notion_P .page-body ul.to-do-list {
    text-indent: -1.7em;
}

    .Notion_P .page-body ul.to-do-list > li {
        list-style: none;
    }

.Notion_P .page-body .to-do-children-checked {
    text-decoration: line-through;
    opacity: 0.375;
}

.Notion_P .page-body .toggle > li {
    list-style: none;
}

.Notion_P .page-body ul {
    padding-inline-start: 1.7em;
}

    .Notion_P .page-body ul > li {
        padding-left: 0.1em;
    }

.Notion_P .page-body ol {
    padding-inline-start: 1.6em;
}

    .Notion_P .page-body ol > li {
        padding-left: 0.2em;
    }

.Notion_P .page-body .mono ol {
    padding-inline-start: 2em;
}

    .Notion_P .page-body .mono ol > li {
        text-indent: -0.4em;
    }

.Notion_P .page-body .toggle {
    padding-inline-start: 0em;
    list-style-type: none;
}

    /* Indent toggle children */
    .Notion_P .page-body .toggle > li > details {
        padding-left: 1.7em;
    }

        .Notion_P .page-body .toggle > li > details > summary {
            margin-left: -1.1em;
            cursor: pointer;
        }

            .Notion_P .page-body .toggle > li > details > summary:focus {
                outline: none;
            }

.Notion_P .page-body .selected-value {
    display: inline-block;
    padding: 0 0.5em;
    background: rgba(206, 205, 202, 0.5);
    border-radius: 3px;
    margin-right: 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    white-space: nowrap;
}

.Notion_P .page-body .collection-title {
    display: inline-block;
    margin-right: 1em;
}

.Notion_P .page-body time {
    opacity: 0.5;
}

.Notion_P .page-body .icon {
    display: inline-block;
    max-width: 1.2em;
    max-height: 1.2em;
    text-decoration: none;
    vertical-align: text-bottom;
    margin-right: 0.5em;
}

.Notion_P .page-body img.icon {
    border-radius: 3px;
}

.Notion_P .page-body .user-icon {
    width: 1.5em;
    height: 1.5em;
    border-radius: 100%;
    margin-right: 0.5rem;
}

.Notion_P .page-body .user-icon-inner {
    font-size: 0.8em;
}

.Notion_P .page-body .text-icon {
    border: 1px solid #000;
    text-align: center;
}

.Notion_P .page-body .page-cover-image {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 30vh;
}

.Notion_P .page-body .page-header-icon {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.Notion_P .page-body .page-header-icon-with-cover {
    margin-top: -0.72em;
    margin-left: 0.07em;
}

.Notion_P .page-body .page-header-icon img {
    border-radius: 3px;
}

.Notion_P .page-body .link-to-page {
    margin: 1em 0;
    padding: 0;
    border: none;
    font-weight: 500;
}

.Notion_P .page-body p > .user {
    opacity: 0.5;
}

.Notion_P .page-body td > .user,
.Notion_P .page-body td > time {
    white-space: nowrap;
}

.Notion_P .page-body input[type='checkbox'] {
    transform: scale(1.5);
    margin-right: 0.6em;
    vertical-align: middle;
}

.Notion_P .page-body p {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
    white-space: pre-line;
}

.Notion_P .page-body .image {
    border: none;
    margin: 1.5em 0;
    padding: 0;
    border-radius: 0;
    text-align: center;
}

.Notion_P .page-body code {
    background: rgba(135, 131, 120, 0.15);
    border-radius: 3px;
    padding: 0.2em 0.4em;
    border-radius: 3px;
    font-size: 85%;
    tab-size: 2;
    color: #eb5757;
}

.Notion_P .page-body .code {
    padding: 0;
    border: 0;
    border-radius: 3px;
    font-size: 85%;
    tab-size: 2;
}

    .Notion_P .page-body .code > code {
        padding: 1.5em 1em;
        font-size: 100%;
    }

.Notion_P .page-body blockquote {
    font-size: 1.25em;
    font-style: normal;
    margin: 1em 0;
    padding: 0 0 0 1em;
    border-left: 3px solid rgb(55, 53, 47);
}

.Notion_P .page-body .bookmark {
    text-decoration: none;
    max-height: 8em;
    padding: 0;
    display: flex;
    width: 100%;
    align-items: stretch;
}

.Notion_P .page-body .bookmark-title {
    font-size: 0.85em;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 1.75em;
    white-space: nowrap;
}

.Notion_P .page-body .bookmark-text {
    display: flex;
    flex-direction: column;
}

.Notion_P .page-body .bookmark-info {
    flex: 4 1 180px;
    padding: 12px 14px 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Notion_P .page-body .bookmark-image {
    width: 33%;
    flex: 1 1 180px;
    display: block;
    position: relative;
    object-fit: cover;
    border-radius: 1px;
}

.Notion_P .page-body .bookmark-description {
    color: rgba(55, 53, 47, 0.6);
    font-size: 0.75em;
    overflow: hidden;
    max-height: 4.5em;
    word-break: break-word;
}

.Notion_P .page-body .bookmark-href {
    font-size: 0.75em;
    margin-top: 0.25em;
}

.Notion_P .page-body .sans {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

.Notion_P .page-body .code,
.Notion_P .page-body code {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.Notion_P .page-body .serif {
    font-family: Lyon-Text, Georgia, YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "Songti TC", "Songti SC", "SimSun", "Nanum Myeongjo", NanumMyeongjo, Batang, serif;
}

.Notion_P .page-body .mono {
    font-family: iawriter-mono, Nitti, Menlo, Courier, monospace;
}

.Notion_P .page-body .pdf .sans {
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol", 'Twemoji', 'Noto Color Emoji', 'Noto Sans CJK SC', 'Noto Sans CJK KR';
}

.Notion_P .page-body .pdf .code {
    font-family: Source Code Pro, "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace, 'Twemoji', 'Noto Color Emoji', 'Noto Sans Mono CJK SC', 'Noto Sans Mono CJK KR';
}

.Notion_P .page-body .pdf .serif {
    font-family: PT Serif, Lyon-Text, Georgia, YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro", "Songti TC", "Songti SC", "SimSun", "Nanum Myeongjo", NanumMyeongjo, Batang, serif, 'Twemoji', 'Noto Color Emoji', 'Noto Sans CJK SC', 'Noto Sans CJK KR';
}

.Notion_P .page-body .pdf .mono {
    font-family: PT Mono, iawriter-mono, Nitti, Menlo, Courier, monospace, 'Twemoji', 'Noto Color Emoji', 'Noto Sans Mono CJK SC', 'Noto Sans Mono CJK KR';
}

.Notion_P .page-body .highlight-default {
}

.Notion_P .page-body .highlight-gray {
    color: rgb(155, 154, 151);
}

.Notion_P .page-body .highlight-brown {
    color: rgb(100, 71, 58);
}

.Notion_P .page-body .highlight-orange {
    color: rgb(217, 115, 13);
}

.Notion_P .page-body .highlight-yellow {
    color: rgb(223, 171, 1);
}

.Notion_P .page-body .highlight-teal {
    color: rgb(15, 123, 108);
}

.Notion_P .page-body .highlight-blue {
    color: rgb(11, 110, 153);
}

.Notion_P .page-body .highlight-purple {
    color: rgb(105, 64, 165);
}

.Notion_P .page-body .highlight-pink {
    color: rgb(173, 26, 114);
}

.Notion_P .page-body .highlight-red {
    color: rgb(224, 62, 62);
}

.Notion_P .page-body .highlight-gray_background {
    background: rgb(235, 236, 237);
}

.Notion_P .page-body .highlight-brown_background {
    background: rgb(233, 229, 227);
}

.Notion_P .page-body .highlight-orange_background {
    background: rgb(250, 235, 221);
}

.Notion_P .page-body .highlight-yellow_background {
    background: rgb(251, 243, 219);
}

.Notion_P .page-body .highlight-teal_background {
    background: rgb(221, 237, 234);
}

.Notion_P .page-body .highlight-blue_background {
    background: rgb(221, 235, 241);
}

.Notion_P .page-body .highlight-purple_background {
    background: rgb(234, 228, 242);
}

.Notion_P .page-body .highlight-pink_background {
    background: rgb(244, 223, 235);
}

.Notion_P .page-body .highlight-red_background {
    background: rgb(251, 228, 228);
}

.Notion_P .page-body .block-color-default {
    color: inherit;
    fill: inherit;
}

.Notion_P .page-body .block-color-gray {
    color: rgba(55, 53, 47, 0.6);
    fill: rgba(55, 53, 47, 0.6);
}

.Notion_P .page-body .block-color-brown {
    color: rgb(100, 71, 58);
    fill: rgb(100, 71, 58);
}

.Notion_P .page-body .block-color-orange {
    color: rgb(217, 115, 13);
    fill: rgb(217, 115, 13);
}

.Notion_P .page-body .block-color-yellow {
    color: rgb(223, 171, 1);
    fill: rgb(223, 171, 1);
}

.Notion_P .page-body .block-color-teal {
    color: rgb(15, 123, 108);
    fill: rgb(15, 123, 108);
}

.Notion_P .page-body .block-color-blue {
    color: rgb(11, 110, 153);
    fill: rgb(11, 110, 153);
}

.Notion_P .page-body .block-color-purple {
    color: rgb(105, 64, 165);
    fill: rgb(105, 64, 165);
}

.Notion_P .page-body .block-color-pink {
    color: rgb(173, 26, 114);
    fill: rgb(173, 26, 114);
}

.Notion_P .page-body .block-color-red {
    color: rgb(224, 62, 62);
    fill: rgb(224, 62, 62);
}

.Notion_P .page-body .block-color-gray_background {
    background: rgb(235, 236, 237);
}

.Notion_P .page-body .block-color-brown_background {
    background: rgb(233, 229, 227);
}

.Notion_P .page-body .block-color-orange_background {
    background: rgb(250, 235, 221);
}

.Notion_P .page-body .block-color-yellow_background {
    background: rgb(251, 243, 219);
}

.Notion_P .page-body .block-color-teal_background {
    background: rgb(221, 237, 234);
}

.Notion_P .page-body .block-color-blue_background {
    background: rgb(221, 235, 241);
}

.Notion_P .page-body .block-color-purple_background {
    background: rgb(234, 228, 242);
}

.Notion_P .page-body .block-color-pink_background {
    background: rgb(244, 223, 235);
}

.Notion_P .page-body .block-color-red_background {
    background: rgb(251, 228, 228);
}

.Notion_P .page-body .select-value-color-default {
    background-color: rgba(206, 205, 202, 0.5);
}

.Notion_P .page-body .select-value-color-gray {
    background-color: rgba(155, 154, 151, 0.4);
}

.Notion_P .page-body .select-value-color-brown {
    background-color: rgba(140, 46, 0, 0.2);
}

.Notion_P .page-body .select-value-color-orange {
    background-color: rgba(245, 93, 0, 0.2);
}

.Notion_P .page-body .select-value-color-yellow {
    background-color: rgba(233, 168, 0, 0.2);
}

.Notion_P .page-body .select-value-color-green {
    background-color: rgba(0, 135, 107, 0.2);
}

.Notion_P .page-body .select-value-color-blue {
    background-color: rgba(0, 120, 223, 0.2);
}

.Notion_P .page-body .select-value-color-purple {
    background-color: rgba(103, 36, 222, 0.2);
}

.Notion_P .page-body .select-value-color-pink {
    background-color: rgba(221, 0, 129, 0.2);
}

.Notion_P .page-body .select-value-color-red {
    background-color: rgba(255, 0, 26, 0.2);
}

.Notion_P .page-body .checkbox {
    display: inline-flex;
    vertical-align: text-bottom;
    width: 16px;
    height: 16px;
    background-size: 16px;
    margin-left: 2px;
    margin-right: 5px;
}

.Notion_P .page-body .checkbox-on {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Crect%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22%2358A9D7%22%2F%3E%0A%3Cpath%20d%3D%22M6.71429%2012.2852L14%204.9995L12.7143%203.71436L6.71429%209.71378L3.28571%206.2831L2%207.57092L6.71429%2012.2852Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E");
}

.Notion_P .page-body .checkbox-off {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Crect%20x%3D%220.75%22%20y%3D%220.75%22%20width%3D%2214.5%22%20height%3D%2214.5%22%20fill%3D%22white%22%20stroke%3D%22%2336352F%22%20stroke-width%3D%221.5%22%2F%3E%0A%3C%2Fsvg%3E");
}

/* CSS for Notion Posts Done*/