html {
    background-color: #eeeeee;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif;
    background: #242526;

    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.container {
    float: left;
    width: 100%;
    height: 100%;
    color: #ecf0f1;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
}

.container.active {
    display: flex;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.textContainer {
    height: 43px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.pageText {
    position: absolute;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    /* user-select: none; */
}

.pageText.hidden {
    opacity: 0;
    user-select: none;
}

.commentContainer {
    height: 32px;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.comment {
    position: absolute;
    font-size: 24px;
    opacity: 0.8;
}

.comment.hidden {
    opacity: 0;
    user-select: none;
}

.aTag {
    color: #ecf0f1;
    font-weight: bold;
    background: linear-gradient(to bottom, #e67e22 0%, #e67e22 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    text-decoration: none;
    transition: background-size 0.2s;
    cursor: pointer;
}

.aTag:hover {
    background-size: 4px 50px;
}

#homeBtn {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    /*background-color: #2ecc71;*/
    color: #2ecc71;
    font-weight: bold;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
}

.btnContainer {
    display: flex;
    background: #3a3b3c;
    height: 60px;
    min-width: 60px;
    transition: width 2s linear;
    border: solid 10px #3a3b3c;
    border-radius: 40px;
}

.btnMenu {
    position: relative;
    display: flex;
    gap: 10px;

    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}
.buttonBg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    opacity: 0;
    transition: 0.3s;
}

.button:hover > .buttonBg {
    opacity: 0.7;
}

#btnBg {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: margin, 0.4s;
    background-color: #3498db;
    opacity: 0;
    z-index: 0;
    /* transform: translateX(70px); */
}

.textInput {
    display: flex;
    border-radius: 60px;
    background-color: #242526;
}

.tInput > input {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 10px 0px 10px 30px;
    height: 40px;
    width: 200px;
    color: #ecf0f1;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif;
    font-size: 24px;
}

#fileSelectBtn > .buttonBg {
    background-color: #f1c40f;
}

#cancelBtn > .buttonBg {
    background-color: #e74c3c;
}

#checkBtn > .buttonBg {
    background-color: #2ecc71;
}

#goHomeBtn > .buttonBg {
    background-color: #94969b;
}

#copyBtn > .buttonBg {
    background-color: #3498db;
}

#downloadBtn > .buttonBg {
    background-color: #2ecc71;
}

#uploadBtn > .buttonBg {
    background-color: #e67e22;
}

.goBackBtn > .buttonBg {
    background-color: #94969b;
}

#loginBtn > .buttonBg {
    background-color: #e67e22;
}

#inputBtn {
    background-color: #e67e22;
}

.appearVertical {
    animation: appearVertical 0.4s linear;
}

.disappearVertical {
    animation: disappearVertical 0.4s linear;
}

.appearHorizontal {
    animation: appearHorizontal 0.4s linear;
}

.disappearHorizontal {
    animation: disappearHorizontal 0.4s linear;
}
.appearBtnHorizontal {
    animation: appearBtnHorizontal 0.4s linear;
}

.disappearBtnHorizontal {
    animation: disappearBtnHorizontal 0.4s linear;
}

@keyframes appearVertical {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes disappearVertical {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    40% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 0;
    }
}

@keyframes appearHorizontal {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
        transform: translateX(40px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes disappearHorizontal {
    0% {
        opacity: 1;
        transform: translateX(0px);
    }
    40% {
        opacity: 0;
        transform: translateX(-40px);
    }
    100% {
        opacity: 0;
    }
}

@keyframes appearBtnHorizontal {
    0% {
        opacity: 0;
        width: 0;
    }
    40% {
        opacity: 0;
        transform: translateX(40px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes disappearBtnHorizontal {
    0% {
        opacity: 1;
        transform: translateX(0px);
    }
    40% {
        opacity: 0;
        transform: translateX(-40px);
    }
    100% {
        opacity: 0;
        width: 0;
    }
}
