body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif;
    margin: auto;
    max-width: 38rem;
    padding: 2rem;
}

.btnContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.button {
}
