body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #2c3e50;
}

.container {
  height: 100vh;
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  text-align: center;
  margin: 35px 0;
}

.pageText {
  display: block;
  font-size: 32px;
  font-weight: bold;
  height: 44px;
  color: #ecf0f1;
  transition: 0.4s;
}

#homeBtn {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  //background-color: #2ecc71;
  color: #2ecc71;
  font-weight: bold;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
}

.btnContainer {
  display: inline-block;
  background: #ecf0f1;
  height: 80px;
  border-radius: 80px;
  padding: 5px;
  min-width: 80px;
}

.btnCon {
  float: left;
  display: flex;
}

.btnMenu {
  float: left;
  display: flex;
  gap: 5px;
}

.button {
  float: left;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
  color: #2c3e50;
  overflow: hidden;
  position: relative;
}

.btnImg {
  position: absolute;
  z-index: 1;
}

.btnBg {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 0;
  opacity: 0;
  transition: 0.4s;
}

.button:hover > .btnBg {
  opacity: 1;
}

.close .btnMenu {
  width: 0;
}

.close .button {
  width: 0;
  color: transparent;
}

.close .pageText {
  height: 0;
  color: transparent;
  user-select: none;
}

